src/com/uy/antel/xml/loginResp.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xmlLoginResp" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error" type="xs:int" nillable="false" />
				<xs:element name="mensaje" type="xs:string" nillable="false" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 