src/com/uy/antel/xml/login.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xmlLogin" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="usuario" type="xs:string" nillable="false" />
				<xs:element name="password" type="xs:string" nillable="false" />
				<xs:element name="nroTerminal" type="xs:int"
					nillable="false" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema> 